<template>
  <v-app>
    <v-navigation-drawer
      v-model="drawer"
      app
      clipped
    >
      <v-list>
        <v-list-item @click="$router.push({name: 'load_image'})">
          <v-list-item-content>
            <v-list-item-title>Carica una immagine</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item @click="$router.push({name: 'pop_effect'})" :disabled="!$store.getters.imageLoaded">
          <v-list-item-content>
            <v-list-item-title>Pop Effect</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item @click="$router.push({name: 'comic_effect'})"  :disabled="!$store.getters.imageLoaded">
          <v-list-item-content>
            <v-list-item-title>Comic Effect</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item @click="$router.push({name: 'mosaic_effect'})"  :disabled="!$store.getters.imageLoaded">
          <v-list-item-content>
            <v-list-item-title>Mosaic Effect</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item @click="$router.push({name: 'oil_effect'})"  :disabled="!$store.getters.imageLoaded">
          <v-list-item-content>
            <v-list-item-title>Oil Effect</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar
      app
      clipped-left
    >
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
      <v-toolbar-title>Image Effects</v-toolbar-title>
    </v-app-bar>
      <v-content>
        <v-container fluid>	        
          <transition>				
            <router-view :key="$route.fullPath" ></router-view>
          </transition>
        </v-container>
      </v-content>
  </v-app>
</template>

<script>

export default {
  name: 'App',
  data: () => ({
    drawer : null,
  }),
};
</script>
