<template>
    <div>
        <div id="comicEffectDiv"></div>
    </div>
</template>

<script>
import * as dat from 'dat.gui';
import Phaser from 'phaser/src/phaser';

export default {
    data:()=>{
        return{
            hasImage: false,
            image: null,
            canvas: null,
            gui: null,
            scene: null,
        }
    },
    created: function(){
        if(!this.$store.getters.imageLoaded){
            this.$router.push({name: "load_image"});
        }
    },
    mounted(){
        this.gui = new dat.GUI(); 

        this.gui.domElement.id = 'gui';
        let mainElement = document.getElementById('comicEffectDiv');
        console.log("comicEffectDiv", mainElement);
        mainElement.append(this.gui.domElement);

        if (this.$store.getters.imageLoaded) {   
            this.comicEffect();
        }

    },
    methods:{
        comicEffect: function(){
            var config = {
                type: Phaser.AUTO,
                parent: 'comicEffectDiv',
                scene: new ComicEffectClass(this.gui, this)
            };
            
            if(!this.scene){
                this.scene = new Phaser.Game(config); 
            }
        },
    }
}
class ComicEffectClass extends Phaser.Scene{
    constructor(gui, globalRef) {
        super({ key: 'comicEffect' });

        this.gui = gui;
        
        this.globalRef = globalRef;
    }

    preload() {
        var url = 'https://raw.githubusercontent.com/rexrainbow/phaser3-rex-notes/master/plugins/dist/rextoonifypipelineplugin.min.js';
        this.load.plugin('rextoonifypipelineplugin', url, true);      
    }

    create() {
        this.textures.once('addtexture', function (key, texture) {
            this.add.image(500, 400, 'image');

            var customPipeline = this.plugins.get('rextoonifypipelineplugin').add(this, 'Toonify'); 
            this.cameras.main.setRenderToTexture(customPipeline);

            var gui = this.gui;
            gui.add(customPipeline, 'edgeThreshold', 0, 1.1);
            gui.add(customPipeline, 'hueLevels', 0, 20);
            gui.add(customPipeline, 'satLevels', 0, 10);
            gui.add(customPipeline, 'valLevels', 0, 10);
            gui.addColor(customPipeline, 'edgeColor');

        }, this);

        this.textures.addBase64('image', this.globalRef.$store.getters.image.dataUrl);
        
    }
    update() {}
}
</script>

<style>
    #gui{
        z-index: 9999;
    }
</style>