<template>
  <div>
    <image-uploader
      class="my-8"
      :preview="true"
      :className="['fileinput', { 'fileinput--loaded': hasImage }]"
      :maxWidth="1080"
      capture="environment"
      :debug="1"
      :scaleRatio="0.7"
      doNotResize="gif"
      :autoRotate="true"
      outputFormat="verbose"
      @input="setImage"
    >
      <label for="fileInput" slot="upload-label">
        <figure>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            viewBox="0 0 32 32"
          >
            <path
              class="path1"
              d="M9.5 19c0 3.59 2.91 6.5 6.5 6.5s6.5-2.91 6.5-6.5-2.91-6.5-6.5-6.5-6.5 2.91-6.5 6.5zM30 8h-7c-0.5-2-1-4-3-4h-8c-2 0-2.5 2-3 4h-7c-1.1 0-2 0.9-2 2v18c0 1.1 0.9 2 2 2h28c1.1 0 2-0.9 2-2v-18c0-1.1-0.9-2-2-2zM16 27.875c-4.902 0-8.875-3.973-8.875-8.875s3.973-8.875 8.875-8.875c4.902 0 8.875 3.973 8.875 8.875s-3.973 8.875-8.875 8.875zM30 14h-4v-2h4v2z"
            ></path>
          </svg>
        </figure>
        <span class="upload-caption">{{
          hasImage ? "Cambia l'immagine selezionata" : "Premi per caricare"
        }}</span>
      </label>
    </image-uploader>
  </div>
</template>

<script>
import api from '../Api';

export default {
  data: ()=>{
    return{
        image: null,
        hasImage: false,
    }
  }, 
  mounted(){},
  methods:{
    setImage: function(output) {
      this.hasImage = true;
      this.image = output;
      this.$log.debug("imageLoaded", this.image);

      this.$store.commit("image", this.image);
      this.$store.commit("imageLoaded", false);
      
      //send the image to backend
      api.pushImage( this.image.dataUrl)
      .then((response)=>{
        this.$log.debug("response pushImage", response);
        if (response.data) {
          this.$toasted.success("Immagine caricata correttamente.");
          this.$store.commit("imageLoaded", this.hasImage);
        }else{
          this.$toasted.error("Si e' verificato un errore durante il caricamento dell'immagine.");
          this.$store.commit("imageLoaded", false);
        }
      })
      .catch((e)=>{
        this.$log.error("error pushImage", e);
      });
    },
    startImageResize: function(...params){
      this.$log.debug("startImageResize",params);
    },
    endImageResize: function(...params){
      this.$log.debug("endImageResize",params)
    },    
  },
}
</script>
    
<style>
  #fileInput {
    display: none;
  }
  .my-8 {
    margin-top: 4rem;
    margin-bottom: 4rem;
    text-align: center;
  }

  
</style>