<template>
  <div id="mosaicEffectDiv">
      <v-container fluid>
          <v-row>
              <v-col
                align-start
                justify-center
              >
                <v-card class="pa-2">
                    <v-card-text>
                        <v-row>
                            <v-col
                                align-start
                                justify-center
                            >
                                <v-btn 
                                    color="green"
                                    class="mb-5"
                                    depressed
                                    @click="mosaicEffect"
                                >Mosaic Effect</v-btn>
                            </v-col>
                            <v-col
                                align-end
                                justify-center
                            >
                                <v-switch
                                    v-model="mosaicEffectOpts.showEdges"
                                    label="Edges ?"
                                    @change="mosaicEffect"
                                ></v-switch>
                                <v-switch
                                    v-model="mosaicEffectOpts.showSuperpixel"
                                    label="Superpixels ?"
                                    @change="mosaicEffect"
                                ></v-switch>
                            </v-col>
                        </v-row>
                        <div class="mt-5">
                            <v-slider 
                                :loading="isLoading"
                                :readonly="isLoading"
                                v-model="mosaicEffectOpts.cellWidth" 
                                step="1"
                                label="Dimesione Cella"
                                color="green darken-2"
                                track-color="red lighten-2"
                                @change="mosaicEffect"
                                max="30"
                                min="1"
                                thumb-label="always"
                                :thumb-size="25"
                                ticks="always"
                                tick-size="4"
                            ></v-slider>
                            <v-slider 
                                :loading="isLoading"
                                :readonly="isLoading"
                                v-model="mosaicEffectOpts.proxModifier" 
                                step="1"
                                label="Modificatore di Prossimita'"
                                color="green darken-2"
                                track-color="red lighten-2"
                                @change="mosaicEffect"
                                max="255"
                                min="1"
                                thumb-label="always"
                                :thumb-size="25"
                                ticks="always"
                                tick-size="4"
                            ></v-slider>
                        </div>
                    </v-card-text>
                </v-card>
              </v-col>
              <v-col
                align-end
                justify-center
              >
                <img src="" alt="" id="mosaicEffectOutput">
              </v-col>
          </v-row>
      </v-container>
  </div>
</template>

<script>
import api from '../Api';

export default {
    data:()=>{
        return{
            isLoading: false,
            image:null,
            mosaicEffectOpts:{
                cellWidth: 10, // parametro S 1-255
                proxModifier: 100, // parametro m 1-255
                showEdges: true,
                showSuperpixel : false,
            }
        }
    },
    methods:{
        mosaicEffect: function(){
            this.isLoading = true;
            api.mosaicEffect(this.mosaicEffectOpts)
                .then(response=>{
                    this.$log.debug("mosaic called", response);
                    let img = document.getElementById("mosaicEffectOutput");
                    img.src = response.data.outputByteImage;
                    this.isLoading = false;
                })
                .catch(e=>{
                    this.$log.error("error on mosaic effect", e);
                    this.isLoading = false;
                })
        },
    },
    mounted: function(){
        if (this.$store.getters.imageLoaded) {
            this.mosaicEffect();
        }
    },
    created: function(){
        if(!this.$store.getters.imageLoaded){
            this.$router.push({name: "load_image"});
        }
    }
}
</script>

<style>

</style>