<template>
  <div id="oilPaintEffect">
      <v-container fluid>
          <v-row>
              <v-col
                align-start
                justify-center
              >
                <v-card class="pa-2">
                    <v-card-text>
                        <v-row>
                            <div
                                justify-start
                                align-center
                            >
                                <v-btn
                                    color="green"
                                    class="mb-5"
                                    depressed
                                    @click="oilPaintEffect"
                                >Oil Painting Effect</v-btn>
                            </div>
                        </v-row>
                        
                        <div class="mt-5">
                            <v-slider
                                :loading="isLoading"
                                :readoly="isLoading"
                                v-model="oilEffectOpts.radius"
                                step="1"
                                label="Raggio"
                                color="green darken-2"
                                track-color="red lighten-2"
                                @change="oilPaintEffect"
                                max="15"
                                min="1"
                                thumb-label="always"
                                :thumb-size="25"
                                ticks="always"
                                tick-size="4"
                            ></v-slider>
                            <v-slider
                                :loading="isLoading"
                                :readoly="isLoading"
                                v-model="oilEffectOpts.intensity"
                                step="1"
                                label="Intensità"
                                color="green darken-2"
                                track-color="red lighten-2"
                                @change="oilPaintEffect"
                                max="100"
                                min="1"
                                thumb-label="always"
                                :thumb-size="25"
                                ticks="always"
                                tick-size="4"
                            ></v-slider>
                        </div>
                    </v-card-text>
                </v-card>
              </v-col>
            <v-col>
                <canvas id="oilEffectCanvas"></canvas>
            </v-col>  
          </v-row>
          
        
      </v-container>
  </div>
</template>

<script>
export default {
    data:()=>{
        return{
            isLoading: false,
            image: null,
            ctx: null,
            dCtx: null,
            canvas: null,
            oilEffectOpts:{
                radius: 3,
                intensity: 15
            }
        }
    },
    mounted(){
        this.image = this.$store.getters.image;
        this.canvas = document.getElementById("oilEffectCanvas");
        this.ctx = this.canvas.getContext("2d");
        if (this.$store.getters.imageLoaded) {
            this.oilPaintEffect();
        }
    },
    methods:{
        oilPaintEffect:function(evt){
            this.isLoading = true;
            var img = new Image();

            var intensity = this.oilEffectOpts.intensity;
            var radius = this.oilEffectOpts.radius;

            img.src = this.image.dataUrl;
            img.addEventListener('load',  function(){
                this.canvas.width = img.width;
                this.canvas.height = img.height;
                this.ctx.drawImage(img, 0,0,this.canvas.width,this.canvas.height);

                var width = this.canvas.width;
                var height = this.canvas.height;
                var imgData = this.ctx.getImageData(0, 0, width, height);
                var pixData = imgData.data;
                var destCanvas = this.canvas;
                this.dCtx = this.ctx;
                var pixelIntensityCount = [];

                destCanvas.width = width;
                destCanvas.height = height;

                var destImageData = this.dCtx.createImageData(width, height),
                destPixData = destImageData.data,
                intensityLUT = [],
                rgbLUT = [];

                for (var y = 0; y < height; y++) {
                    intensityLUT[y] = [];
                    rgbLUT[y] = [];
                    for (var x = 0; x < width; x++) {
                        var idx = (y * width + x) * 4,
                            r = pixData[idx],
                            g = pixData[idx + 1],
                            b = pixData[idx + 2],
                            avg = (r + g + b) / 3;

                        intensityLUT[y][x] = Math.round((avg * intensity) / 255);
                        rgbLUT[y][x] = {
                            r: r,
                            g: g,
                            b: b
                        };
                    }
                }


                for (y = 0; y < height; y++) {
                    for (x = 0; x < width; x++) {

                        pixelIntensityCount = [];

                        // Find intensities of nearest pixels within radius.
                        for (var yy = -radius; yy <= radius; yy++) {
                            for (var xx = -radius; xx <= radius; xx++) {
                                if (y + yy > 0 && y + yy < height && x + xx > 0 && x + xx < width) {
                                    var intensityVal = intensityLUT[y + yy][x + xx];

                                    if (!pixelIntensityCount[intensityVal]) {
                                        pixelIntensityCount[intensityVal] = {
                                            val: 1,
                                            r: rgbLUT[y + yy][x + xx].r,
                                            g: rgbLUT[y + yy][x + xx].g,
                                            b: rgbLUT[y + yy][x + xx].b
                                        }
                                    } else {
                                        pixelIntensityCount[intensityVal].val++;
                                        pixelIntensityCount[intensityVal].r += rgbLUT[y + yy][x + xx].r;
                                        pixelIntensityCount[intensityVal].g += rgbLUT[y + yy][x + xx].g;
                                        pixelIntensityCount[intensityVal].b += rgbLUT[y + yy][x + xx].b;
                                    }
                                }
                            }
                        }

                        pixelIntensityCount.sort(function (a, b) {
                            return b.val - a.val;
                        });

                        var curMax = pixelIntensityCount[0].val,
                            dIdx = (y * width + x) * 4;

                        destPixData[dIdx] = ~~ (pixelIntensityCount[0].r / curMax);
                        destPixData[dIdx + 1] = ~~ (pixelIntensityCount[0].g / curMax);
                        destPixData[dIdx + 2] = ~~ (pixelIntensityCount[0].b / curMax);
                        destPixData[dIdx + 3] = 255;
                    }
                }
                this.dCtx.putImageData(destImageData, 0, 0);
                this.isLoading = false;
            }.bind(this));
        },
    },
    created: function(){
        if(!this.$store.getters.imageLoaded){
            this.$router.push({name: "load_image"});
        }
    }

}
</script>

<style>

</style>