<template>
  <div id="popEffectDiv" v-if="this.$store.getters.imageLoaded">
        <v-container fluid>
            <v-row>
                <v-col
                    align-start
                    justify-center
                >
                    <v-card class="pa-2">
                        
                        <v-card-text>
                            <v-row>
                                <v-col align-content-start justify-center>
                                    <v-btn 
                                        class="mb-5"
                                        depressed 
                                        color="green"
                                        @click="popEffect"
                                    >Pop Effect</v-btn>
                                </v-col>
                                <v-col align-end justify-center>
                                    <v-switch
                                        v-model="popEffectOpts.isInverted"
                                        :loading="isLoading"
                                        :readonly="isLoading"
                                        label="Inverti ?"
                                        @change="popEffect"
                                    ></v-switch>
                                </v-col>
                            </v-row>

                            <div class="mt-5">
                                <!-- min="-1" -->
                                <v-slider
                                label="BF.d"
                                color="green darken-2"
                                track-color="red lighten-2"
                                :loading="isLoading"
                                :readonly="isLoading"
                                @change="popEffect"
                                v-model="popEffectOpts.bilateralFilther.d"
                                step="1"
                                max="100"
                                min=1
                                thumb-label="always"
                                :thumb-size="25"
                                ticks="always"
                                tick-size="4"
                                ></v-slider>
                                <v-slider
                                track-color="red lighten-2"
                                label="BF.sigmaColor"
                                :loading="isLoading"
                                :readonly="isLoading"
                                @change="popEffect"
                                color="green darken-2"
                                v-model="popEffectOpts.bilateralFilther.sigmaColor"
                                step="10"
                                max="250"
                                min="20"
                                thumb-label="always"
                                :thumb-size="25"
                                ticks="always"
                                tick-size="4"
                                ></v-slider>
                                <v-slider
                                label="BF.sigmaSpace"
                                track-color="red lighten-2"
                                @change="popEffect"
                                :loading="isLoading"
                                :readonly="isLoading"
                                color="green darken-2"
                                v-model="popEffectOpts.bilateralFilther.sigmaSpace"
                                step="10"
                                max="250"
                                min="0"
                                thumb-label="always"
                                :thumb-size="25"
                                ticks="always"
                                tick-size="4"
                                ></v-slider>
                                <v-slider
                                label="module"
                                track-color="red lighten-2"
                                color="green darken-2"
                                @change="popEffect"
                                :loading="isLoading"
                                :readonly="isLoading"
                                v-model="popEffectOpts.module"
                                step="1"
                                max="250"
                                min="1"
                                thumb-label="always"
                                :thumb-size="25"
                                ticks="always"
                                tick-size="4"
                                ></v-slider>
                                <v-slider
                                track-color="red lighten-2"
                                color="green darken-2"
                                @change="popEffect"
                                :loading="isLoading"
                                :readonly="isLoading"
                                label="blackThreshold"
                                v-model="popEffectOpts.blackThreshold"
                                step="1"
                                max="250"
                                min="20"
                                thumb-label="always"
                                :thumb-size="25"
                                ticks="always"
                                tick-size="4"
                                ></v-slider>
                                <v-slider
                                track-color="red lighten-2"
                                color="green darken-2"
                                @change="popEffect"
                                :loading="isLoading"
                                :readonly="isLoading"
                                label="whiteThreshold"
                                v-model="popEffectOpts.whiteThreshold"
                                step="1"
                                max="250"
                                min="20"
                                thumb-label="always"
                                :thumb-size="25"
                                ticks="always"
                                tick-size="4"
                                ></v-slider>
                                <v-slider
                                label="bin.blockSize"
                                color="green darken-2"
                                track-color="red lighten-2"
                                @change="popEffect"
                                :loading="isLoading"
                                :readonly="isLoading"
                                v-model="popEffectOpts.binaryImage.blockSize"
                                step="2"
                                max="99"
                                min="3"
                                thumb-label="always"
                                :thumb-size="25"
                                ticks="always"
                                tick-size="4"
                                ></v-slider>
                                <v-slider
                                label="bin.c"
                                track-color="red lighten-2"
                                color="green darken-2"
                                :loading="isLoading"
                                :readonly="isLoading"
                                @change="popEffect"
                                v-model="popEffectOpts.binaryImage.c"
                                step="1"
                                max="10"
                                min="0"
                                thumb-label="always"
                                :thumb-size="25"
                                ticks="always"
                                tick-size="4"
                                ></v-slider>
                            </div>
                        </v-card-text>
                    </v-card>
                </v-col>
                <v-col
                    align-end
                    justify-center
                >
                    <img src="" id="popEffectOutput" alt="">
                </v-col>
            </v-row>
        </v-container>
      </div>
</template>

<script>
import api from '../Api';
export default {
    data: ()=>{
        return{
            hasImage: false,
            image: null,
            isLoading: false,
            popEffectOpts:{
                isInverted: false,
                bilateralFilther:{
                d: 15,
                sigmaColor: 200,
                sigmaSpace: 70
                },
                module: 100,
                blackThreshold: 50,
                whiteThreshold: 200,
                binaryImage:{
                blockSize: 7,
                c: 1
                }
            }
        }
    },
    methods:{
        popEffect: function(){
            this.isLoading = true;
            api.popEffect(this.popEffectOpts)
            .then((response)=>{
                var img = document.getElementById("popEffectOutput");
                img.src = response.data.outputByteImage;
                this.isLoading = false;
            })
            .catch((error)=>{
                this.$log.error("errore in popEffect", error);
            })
        }
    },
    mounted: function(){
        if(this.$store.getters.imageLoaded){
            this.popEffect();
        }
    },
    beforeCreate: function(){
        if(!this.$store.getters.imageLoaded){
            this.$router.push({name: "load_image"});
        }
    }
}
</script>

<style>

</style>